// 按钮样式
.el-button {
  padding: 10px;
}
// 分页的样式
.el-pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
}
.el-breadcrumb {
  padding: 10px;
}
* {
  color: $text-color;
}
